.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.cards-portafolio {
}
.cards-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
